* { box-sizing: border-box; }

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: #447CAD;
  color: #fff;
  padding: 10px 20px;
  text-align: left; 
  z-index: 1000;
}

.page {
  padding-top: 100px;       /* = header height */
  height: 100vh;
  overflow-y: auto;        /* scroll the content, not the header */
}

.site-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.charts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


/* .site-header {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 64px;            
  background: #fff;
  border-bottom: 1px solid #eee;
  z-index: 1000;          
} */

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline; 
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;

}

nav ul li a:hover { 
  color: #ddd;
  background-color: #a4d0f7;
  border-radius: 5px;
  padding: 5px 10px;
}

footer {
  background-color: #447CAD;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.movie-details {
  display: flex;
  margin-top: 20px;
}

img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

.info {
  flex: 1;
}

p {
  margin: 5px 0;
}

.form-control {
  margin-bottom: 15px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="email"] {
  width: calc(100% - 16px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-control textarea {
  width: calc(100% - 16px);
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button{
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #777;
}

#edit {
  background-color: #f0ad4e;
  margin-top: 50px;
}
#edit:hover {
  background-color: #ffdfb1;
}

#delete {
  background-color: #d9534f;
  float: right;
  margin-top: 50px;
}
#delete:hover {
  background-color: #f0b3af;
}

#register {
  background-color: #7ac1ff;
}
#register:hover {
  background-color: #b3d9ff;
}

.filters-container {
  background-color: #cbe8ff;
  padding: 20px 20px;
  /* Order of margin */
  /* top right bottom left */
  margin: 30px 20px 30px 20px;
  border-radius: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.filters p strong{
  display: flex;
  margin-bottom: 5px;
  justify-content: center;  
}

.filters input {
  text-align: center;
  width: 150px;
}

#filters {
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-bottom: 10px;
}

.PageFilter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.PageFilter p {
  margin-left: 10px;
  margin-right: 10px;
}

.error-message {
  color: #fff;
  margin-top: 10px;
  background-color: #d9534f;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  border: 2px solid #722424;
  margin-top: 20px;
  margin-bottom: 20px;
}